html {
  html {
    box-sizing: border-box;

  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

.nav {
  font-family: Georgia;
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0 .75em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav a
