html {
    box-sizing: border-box;
    font-size:

  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

}
.header h1 {
  font-family: 'Sigmar One', cursive;
  background-color: #ffe500
}

.nav {
  font-family: Georgia,serif;
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0 .75em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}
